* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: lightgray; */
   
}

p,button{
    font-size: 11px;
}
.container {
    display: grid;
    place-items: center;
    width: 50vw;
   margin-top: 100px;
   margin-left: 300px;
   font-size: xx-large;
}
.underline {
    width: 83px;
    height: 4px;
    background: hsl(205, 78%, 60%);
    margin: auto;
}
.reviewCard {
    text-align: center;
    padding: 20px;
    width: 90%;
    box-shadow: 2px 2px 2px 2px lavender;
    margin-top: 100px;
    font-size: xx-large;
    
}

#person-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.prev-btn,.next-btn{
    background-color: transparent;
    border: none;
    color: hsl(205, 78%, 60%);
    margin: 5px;
    cursor: pointer;
}
#author{
    font-size: x-large;
    font-weight: bold;
}
#job{
    font-size: medium;
    font-weight: bold;
}
#info{
    font-size: medium
}

.random-btn {
    background-color: transparent;
    border: 1px solid hsl(205, 78%, 60%);
    color: hsl(205, 78%, 60%);
    padding: 5px;
    border-radius: 5px;
}